<header class="d-flex justify-content-between align-items-start p-3">
    <img src="logo-nombre.png" alt="logo" class="logo">

    <div class="auth-buttons d-flex flex-column align-items-end">
        @if (isLoggedIn == false) {
            <button class="btn btn-primary mb-2" (click)="toggleLogin()">Iniciar sesión</button>
            <button class="btn btn-primary mb-2" (click)="toggleSignUp()">Registrarse</button>
        } @else {
            <img src="logo.png" alt="logo" class="user-logo">
        }
    </div>
</header>

<div [ngClass]="{'blurry': showLogIn || showSignUp}">
    <div class="body-container d-flex flex-column justify-content-center align-items-center">
        <img src="ODS 2.png" alt="objetivo" class="objetivo mb-4 img-fluid" style="width: 700px;">

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-lg mx-2">Tutorial</button>
            <button class="btn btn-success btn-lg mx-2">Donar</button>
            <button class="btn btn-warning btn-lg mx-2">Puntos de recolección</button>
        </div>
    </div>
</div>

<!-- Componente de inicio de sesión -->
<app-login *ngIf="showLogIn" class="login-modal" (close)="toggleLogin()" (switchToSignUp)="toggleSignUp()"></app-login>

<!-- Componente de registro -->
<app-sign-up *ngIf="showSignUp" class="login-modal" (close)="toggleSignUp()" (switchToLogin)="toggleLogin()"></app-sign-up>
