.logo {
    width: 200px;
    height: auto;
}

.user-logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Efecto blurry para el fondo */
.blurry {
    filter: blur(10px); /* Difumina el contenido principal */
    pointer-events: none; /* Desactiva interacciones con el fondo */
    transition: filter 0.3s ease;
}

/* Estilo para el componente de login como un overlay */
.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    z-index: 1000; /* Asegura que esté por encima del fondo */
    border-radius: 10px;
    width: 400px; /* Ajusta el tamaño del modal */
    max-width: 90%; /* Asegura que el modal sea responsivo */
}

/* Desactiva el scroll cuando el modal esté abierto */
body.modal-open {
    overflow: hidden;
}

/* Asegura que el contenido principal esté detrás del modal */
body-container, header {
    z-index: 1;
}

/* Estilo de transición para el filtro */
.blurry {
    filter: blur(10px);
    transition: filter 0.3s ease;
}
