<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tutorialModal">
    Tutorial
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloTutorialModal">¿Cómo donar?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="tutorial-content">
                <p>¡Bienvenido al tutorial! Sigue estos pasos para completar tu donación.</p>
                
                <div class="step">
                    <h3>Paso 1: Registro de usuario</h3>
                    <p>Si no tienes una cuenta, regístrate antes de realizar una donación.</p>
                </div>
                
                <div class="step">
                    <h3>Paso 2: Inicia sesión</h3>
                    <p>Ingresa con tu cuenta para acceder al formulario de donación.</p>
                </div>
                
                <div class="step">
                    <h3>Paso 3: Selecciona el tipo de donación</h3>
                    <p>Elige entre textil, juguetes, productos de higiene o no perecederos.</p>
                </div>
                
                <div class="step">
                    <h3>Paso 4: Llena el formulario de donación</h3>
                    <p>Proporciona los detalles de los artículos que donarás.</p>
                </div>
                
                <div class="step">
                    <h3>Paso 5: Selecciona un punto de recolección</h3>
                    <p>Escoge una ubicación para entregar tu donación y obtén tu código QR.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Donar!</button>
        </div>
      </div>
    </div>
  </div>