<div class="wrapper">
    <div class="logo">
        <img src="logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Donactiva
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Correo">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Contraseña">
        </div>
        <button class="btn mt-3">Iniciar sesion</button>
    </form>
    <div class="text-center fs-6">
        <a [routerLink]="['/forgot-password']">Olvidaste tu contraseña?</a> o <a [routerLink]="['/sign-up']">Registrate</a>
    </div>
</div>