<div class="wrapper">
    <div class="logo">
        <img src="logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Donactiva
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Correo">
        </div>
        <button class="btn mt-3">Enviar codigo</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Volver a enviar codigo</a> o <a [routerLink]="['/login']">Inicia sesion</a>
    </div>
</div>